#!/bin/bash
cd /opt/pptx
export PORT=REDACTED
export LEMON_SQUEEZY_API_KEY=REDACTED
export LEMON_SQUEEZY_STORE_ID=REDACTED
export LEMON_SQUEEZY_SECRET=REDACTED
export GOOGLE_CLIENT_ID=REDACTED
export GOOGLE_CLIENT_SECRET=REDACTED
exec node server.js
